<div align="center">
<table class="example-full-width" style = "width: 80vw;" cellspacing="10"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Book" (change)="bookSubmit($event)" id = "movieSearch">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Movie" (change)="movieSubmit($event)" id ="bookSearch">
    </mat-form-field></td>
  </tr>
  <tr>
    <td valign="top">
    <mat-radio-group class="book-list" [(ngModel)]="book-list">
  <mat-radio-button color="primary" class="wrap" *ngFor="let book of books" [value]="book.isbn" (change) = "changeBook()"> <span class = "wrap">{{book.title +  " | " + book.author_name}} </span>
  </mat-radio-button>
    </mat-radio-group></td>	 
    <td valign="top">			 
    <mat-radio-group class="movie-list" [(ngModel)]="movie-list">
  <mat-radio-button color="primary" class="wrap" *ngFor="let movie of movies" [value]="movie.imdbID" (change) = "changeMovie()" ><span class ="wrap"> {{movie.Title + " | " + movie.Year}} </span>
  </mat-radio-button>
    </mat-radio-group></td>
  </tr>
</table>
    <div align="center">
      <button mat-raised-button color="primary"(submit)="databaseSubmit()" >Submit connection</button>
    </div>
</div>
