<div align="center">
<table class="example-full-width" cellspacing="10"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Book">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Movie">
    </mat-form-field></td>
  </tr>
  <tr>
    <td>
    <mat-radio-group class="book-list" [(ngModel)]="book-list">
  <mat-radio-button color="primary" class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
    </mat-radio-group></td>	 
    <td>			 
    <mat-radio-group class="movie-list" [(ngModel)]="movie-list">
  <mat-radio-button color="primary"  class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
    </mat-radio-group></td>
  </tr>
</table>
</div>
