<div align='middle'>
  <table mat-table [dataSource]="books" class="mat-elevation-z8" style="margin: 15px;">

    <!-- Title  Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let book"> {{book.title}} </td>
    </ng-container>
    
    <!-- Author Column -->
    <ng-container matColumnDef="author_name">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let book"> {{book.author_name}} </td>
    </ng-container>

    <!-- isbn Column -->
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef>ISBN </th>
      <td mat-cell *matCellDef="let book"> {{book.isbn}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class = "noHover"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="onClick()"></tr>

  </table>
</div>
