table {
    width: 80%;

}

tr:hover {
    background-color: #ffbb00;
}

.noHover:hover{
   background-color: white;
}

img {
  height: 45px;
  background-image: url(../images/book-3057901_640.png);
  background-size: contain;
  background-repeat: no-repeat;
}
