.dialog {
    height: 100%;
    width: 100%;
}

.card {
    size: 100%;
}

.myimg {
    float: left;
}

.plot {
    position: relative;
    left: 15px;
}

.adaptionheader {
    position: relative;
    left: 15px;
}

.connections {
    position: relative;
    left: 30px;
}

.mybttn {
    float: right;
}
