.dialog {
    height: 100%;
    width: 100%;
}

.card {
    size: 100%;
}

.myimg {
  height: 380px;
  background-image: url(../images/page-not-found-1907792_640.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.plot {
    position: relative;
    left: 15px;
}

.adaptionheader {
    position: relative;
    left: 15px;
}

.connections {
    position: relative;
    left: 30px;
}

.mybttn {
    float: right;
}
