.dialog {
  min-width: 70vw;
}

.myimg {
  height: 380px;
  background-image: url(../images/page-not-found-1907792_640.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  padding-right: 24px;
}

.info {

}
