<div mat-dialog-content class="dialog">
  <mat-card-title class="card"> {{ data.title }} </mat-card-title><br/>	
  <mat-card-subtitle> {{ data.maker }}</mat-card-subtitle>
    <br/>
      <mat-card-content>	
        <img mat-card-image src="{{ data.poster }}" class="myimg"/>
        <h3 class="head">{{ data.plot }}</h3><br /><br />
        <br/>
        <h3> Adaptions in our database: </h3>
           <ul>
             <li *ngFor="let c of data.conn"><a  href = "{{c.url}}" > {{ c.title }} </a> </li>
           </ul>
      </mat-card-content><br />
    
</div>
<div mat-dialog-action class="mybttn">
  <button mat-button (click)="onNoClick()">Close</button>
</div>
